@use 'sass:map';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');
@import './utils/variables';

:root {
  font-family: 'Work Sans', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

p,
span,
input {
  color: map.get($theme-colors, 'main');
}

input {
  border: $border;
  border-radius: $border-radius;
  padding: $input-padding;
  font-size: $default-font-size;
  text-transform: capitalize;
}

button {
  color: map.get($theme-colors, 'main');
  &:disabled {
    cursor: not-allowed;
    span {
      color: map.get($theme-colors, 'darkGray');
    }
  }
}

button,
li,
a {
  cursor: pointer;
}

h1 {
  font-size: 24px;
}

ul {
  list-style: none;
  padding: 0;
}

.shopping-cart-wrapper {
  width: 780px;
  border: $border;
  border-radius: $border-radius;
  box-shadow: $shadow;
  margin: 50px 50px;
}
