.wrapper {
  padding: 40px 40px 20px;
}

.child-wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;

  & input {
    margin-right: 10px;
  }
}
